/*Amal Kariyawasam, 2022,
Main CSS file for  
*/

*
{
  font-family: Arial, Helvetica, sans-serif;
}

h1
{
color:rgb(49, 21, 21);
}

h2
{
    color:rgb(76, 21, 127);
}

#nav_bar
{
  /* background-color:#2b2a33 ; */
  padding:1vw;  
 }

/* #nav_bar ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

#nav_bar li
{
float:left;
list-style-type: none;

}

#nav_bar li a 
{
  display: block;
  color: black;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  text-decoration: none;
  font-size:1.4em;
}

#nav_bar li a:hover
{
  background-color: #15d48e;
}

#nav_bar a:active {
  background-color: #0704aa;
}