/*Amal Kariyawasam, 2022,
Main CSS file for  
*/

*
{
  font-family: Arial, Helvetica, sans-serif;
}

h1
{
color:rgb(0, 0, 0);
}

h2
{
    color:rgb(11, 32, 133);
}

#nav_bar
{
  padding:1vw;  
 }

#nav_bar ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav_bar li
{
float:left;
list-style-type: none;

}

#nav_bar li a 
{
  display: block;
  color: black;
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  text-decoration: none;
  font-size:2em;
}

#nav_bar li a:hover
{
  background-color: #15d48e;
}

#nav_bar a:active {
  background-color: #0704aa;
}